.lower--tab {
    padding: 1em;
    height: 72px;
    background: var(--lowerBg);
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;


    button{
        @include svg-button;
    }

}