@media screen and (min-width:676px) {
    .users--wrapper{
        ul{
            grid-template-columns: repeat(auto-fit, minmax(328px, 420px));
        }
    }
    
}
@media screen and (min-width:1024px) {
    main{
        padding: 96px 128px;
    }
   .lower--tab{
       right: unset;
       top: 0;
       left: 0;
       bottom: 0;
       height: 100%;
       @include flex-2;
       justify-content: space-between;
   }

   .form--wrapper{
       width: 700px;

       form{
           grid-template-columns: 240px 240px;
           place-content: center;
           gap: 1.5em;
           .form--control{
               align-items: flex-start;

               input{
                   text-align: left;
                   padding: 0 1em;
               }
           }

           .title,
           .image--comp {
               grid-column: 1/3;
           }
           #submit{
               grid-column: 1/3;
           }
       }
   }
   

}