@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@import './uti';
@import './colors';
@import './default';
@import './main';
@import './overlayForm';
@import './lowerTab';
@import './notification';
@import './media';

.light {
    --bg: hsla(276, 11%, 94%, 1);
    --profile: hsla(270, 33%, 99%, 1);
    --text: hsla(276, 16%, 12%, 1);
    --border: linear-gradient(145.66deg, #8505D0 -33.93%, #910DDF 112.21%);
    --lowerBg: hsla(280, 88%, 98%, 1);

    --IconBg: hsla(276, 16%, 12%, 1);
    --borderForm: hsla(276, 16%, 12%, 1);
    --font: 'Inter',
        sans-serif;
    --formText: hsla(276, 16%, 12%, 1);

    --buttonBg: hsla(278, 54%, 39%, 1);
    --notifHigh: hsla(278, 89%, 60%, 1);
    --deletebg: hsla(278, 31%, 35%, 1);
    --overlay: hsla(278, 9%, 93%, 0.85);
    --disabledBg: hsla(278, 43%, 24%, 1);
    --disabledText: hsla(278, 15%, 47%, 1);
    --hover: hsla(278, 71%, 35%, 1);
    --error: hsla(12, 82%, 43%, 1);
    --sucess: hsla(137, 83%, 35%, 1);







}